.left-component-heading {
    font-size: 1.5rem;
    color: white;
    background: #1e2773;
    border-radius: 5px 5px 0 0;
    padding: 0.5rem;
}

    .left-component-body-container-level {
        margin: 1rem;
        border: 1px solid #fff;
        height: 6rem;
        align-items: center;
        display: flex;
        color: #fff;
        background: #71ca00;
        border-radius: 1rem;
        font-size: 1.5rem;
        justify-content: space-between;
        padding: 0 .5rem;
    }

