.right-component-heading {
    font-size: 1.5rem;
    color: white;
    background: #1e2773;
    border-radius: 5px 5px 0 0;
    padding: 0.5rem;
}


.right-component-body-container-level {
    margin: 1rem;
    border: 1px solid #fff;
    display: flex;
    color: #676565;
    background: #ffffff;
    border-radius: 1rem;
}

.skill-container {
    width: 100%;
    padding: 0.5rem;
}

.skill-sub-container {
    display: flex;
    flex-direction: column;
    height: 10rem;
    overflow: scroll;
    overflow-x: hidden;
}

.skill {
    width: 90%;
    padding: 0.2rem .5rem;
    font-size: .8rem;
    font-weight: 400;
    color: #5a5d61;
    border-radius: .5rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.close-icon {
    margin: 0.2rem;
    font-weight: 600;
    background: #373e49;
    padding: 0rem 0.5rem 0.3rem 0.5rem;
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
}

.core {
    border: 1px solid #71ca00;
    background: #edfed7;
}

.special {
    border: 1px solid #fa8f8f;
    background: #feebeb;
}

.creative {
    border: 1px solid #e150e4;
    background: #fde7fd;
}